
/debug
/qtc_packaging
/release
/Makefile
/Makefile.Debug
/Makefile.Release
/object_script.research.Debug
/object_script.research.Release
/research.pro.user
/research.pro.user.1.3
/ui_mainwindow.h